<%- include('../partials/adminHead.ejs') %>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <h4 class="font-weight-bold">All users</h4>
      </div>
      <div class="col-2">
        <a href="/admin/signup" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i>Add User</a>
      </div>
      <div class="col-2">
        <a href="/admin/addemployee" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i>Add Employee</a>
      </div>
      <div class="col-2">
        <a href="/admin/allemployee" class="btn btn-success float-right"
          ><i class="fa fa-bars mr-1"></i>All Employees</a
        >
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if(users.length > 0) { %> <% for(let user of users) { %>
        <tr>
          <th scope="row"><%= user.username %></th>
          <td><%= user.role %></td>
          <td><%= user.phonenumber %></td>
          <td>
            <a href="/admin/updateuser/<%= user._id %>" class="btn btn-sm btn-warning"
              ><i class="fa fa-edit" title="edit user"></i
            ></a>
            <a href="/admin/deleteuser/<%= user._id %>" class="btn btn-sm btn-danger"
              ><i class="fa fa-trash" title="delete user"></i
            ></a>
          </td>
        </tr>
        <% } %> <% } else { %>
        <tr>
          <td>No data found</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div id="error"><%= error %></div>
</div>
