<%- include('./partials/head.ejs') %>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <h4 class="font-weight-bold">Profile</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th class="col-3">Name</th>
          <th class="col-3">Phone Number</th>
          <th class="col-3">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%= employee.name %></th>
          <td><%= employee.phonenumber %></td>
          <td><%= employee.address %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th class="col-8">Tasks</th>
          <th class="col-2">completed</th>
          <th class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if(tasks.length > 0) { %> <% for(let task of tasks) { %>
        <tr>
          <th scope="row"><%= task.title %></th>
          <td><%= task.completed %></td>
          <td>
            <a href="/updatetask/<%= task._id %>" class="btn btn-sm btn-warning"
              ><i class="fa fa-edit" title="edit task"></i
            ></a>
          </td>
        </tr>
        <% } %> <% } else { %>
        <tr>
          <td>No data found</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
