<%- include('./partials/head.ejs') %>

<div class="card col-center">
  <div class="card-header">
    <div class="row">
      <div class="col-8 card-h4">
        <h4 class="font-weight-bold text-start">All Employees</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <% if(Employees.length > 0) { %> <% for(let Employee of Employees) { %>
        <tr>
          <th scope="row"><%= Employee.name %></th>
          <td><%= Employee.phonenumber %></td>
          <td><%= Employee.address %></td>
          <td><%= Employee.role %></td>
          <td>
            <a href="/<%= Employee._id %>/task" class="btn btn-sm btn-danger"
              ><i class="fa fa-bars" title="all tasks"></i
            ></a>
          </td>
        </tr>
        <% } %> <% } else { %>
        <tr>
          <td>No data found</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
