<%- include('./partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-12 text-left">
        <h4 class="font-weight-bold"><%= name %> tasks</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">title</th>
          <th scope="col">completed</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if(tasks.length > 0) { %> <% for(let task of tasks) { %>
        <tr>
          <th scope="row" class="tbody-row task-title"><%= task.title %></th>
          <td class="tbody-row completed"><%= task.completed %></td>
          <td class="tbody-row">
            <a href="/updatetask/<%= task._id %>" class="btn btn-sm btn-warning"
              ><i class="fa fa-edit" title="edit task"></i
            ></a>
            <a href="/solution/<%= task._id %>" class="btn btn-sm btn-info"
              ><i class="fa fa-check" title="solution"></i
            ></a>
          </td>
        </tr>
        <% } %> <% } else { %>
        <tr>
          <td>No data found</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<script>
  const taskTitles = document.querySelectorAll(".tbody-row.task-title");
  const completions = document.querySelectorAll(".tbody-row.completed");

  completions.forEach((completed, index) => {
    const taskTitle = taskTitles[index];
    if (completed.innerText.trim() === "true") {
      taskTitle.classList.add("overline");
    } else {
      taskTitle.classList.remove("overline");
    }
  });
</script>

<%- include('./partials/footer.ejs') %>
