<%- include('./partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<div class="card">
  <div class="card-header">
    <h4 class="font-weight-bold">Update Employee</h4>
  </div>
  <div class="card-body">
    <form action="/updateemployee/<%= employee._id %>" method="post">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="password">Password</label>
            <input type="text" class="form-control" name="password" placeholder="enter password" id="password" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="phonenumber">Phone Number</label>
            <input
              type="number"
              class="form-control"
              value="<%= employee.phonenumber %>"
              name="phonenumber"
              placeholder="enter your phone number"
              id="phonenumber"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="addres">Address</label>
            <textarea class="form-control" name="address" id="address" rows="3">
                          <%= employee.address %>
                          </textarea
            >
          </div>
        </div>
      </div>
      <div class="">
        <button type="submit" class="btn btn-success">Update</button>
        <a href="/" class="btn btn-light">Cancel</a>
      </div>
    </form>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
